.lpe-landing-page-iframe.lpe-container-block-item,
.lpe-landing-page-iframe.lpe-container-block-item.isNormal:hover {
    width: 100%;
    position: relative;
    --minHeightBlockItem: auto;
    min-height: var(--minHeightBlockItem);
    --hoverTransitionBlockItem: 0.5s;
    transition-duration: var(--hoverTransitionBlockItem);
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background, border-radius, color, border-color;
    display: flex;
    flex-direction: column
}

.lpe-landing-page-iframe.lpe-container-block-item * {
    box-sizing: border-box
}

.lpe-landing-page-iframe .lpe-box-background {
    --borderTopWidthdesktop: 0px;
    --borderRightWidthdesktop: 0px;
    --borderBottomWidthdesktop: 0px;
    --borderLeftWidthdesktop: 0px;
    --borderTopLeftRadiusdesktop: 0px;
    --borderTopRightRadiusdesktop: 0px;
    --borderBottomLeftRadiusdesktop: 0px;
    --borderBottomRightRadiusdesktop: 0px;
    --borderStyledesktop: solid;
    --borderColordesktop: #333333;
    border-top-width: var(--borderTopWidthdesktop);
    border-right-width: var(--borderRightWidthdesktop);
    border-bottom-width: var(--borderBottomWidthdesktop);
    border-left-width: var(--borderLeftWidthdesktop);
    border-style: var(--borderStyledesktop);
    border-color: var(--borderColordesktop);
    border-top-left-radius: var(--borderTopLeftRadiusdesktop);
    border-top-right-radius: var(--borderTopRightRadiusdesktop);
    border-bottom-left-radius: var(--borderBottomLeftRadiusdesktop);
    border-bottom-right-radius: var(--borderBottomRightRadiusdesktop)
}

.lpe-landing-page-iframe.lpe-container-block-item.isHover>.lpe-box-background,
.lpe-landing-page-iframe.lpe-container-block-item:hover>.lpe-box-background {
    transition-duration: var(--hoverTransitionBlockItem);
    border-style: var(--hoverBorderStyle);
    border-top-width: var(--hoverBorderTopWidth);
    border-right-width: var(--hoverBorderRightWidth);
    border-bottom-width: var(--hoverBorderBottomWidth);
    border-left-width: var(--hoverBorderLeftWidth);
    border-top-left-radius: var(--hoverBorderTopLeftRadius);
    border-top-right-radius: var(--hoverBorderTopRightRadius);
    border-bottom-left-radius: var(--hoverBorderBottomLeftRadius);
    border-bottom-right-radius: var(--hoverBorderBottomRightRadius);
    border-color: var(--hoverBorderColor)
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content,
.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content-child {
    --paddingLeftBlockdesktop: 10px;
    --paddingRightBlockdesktop: 10px;
    --paddingTopBlockdesktop: 10px;
    --paddingBottomBlockdesktop: 10px;
    --marginLeftBlockdesktop: auto;
    --marginRightBlockdesktop: auto;
    --marginTopBlockdesktop: 0px;
    --marginBottomBlockdesktop: 0px;
    --displayFlexRowdesktop: center;
    width: 100%;
    max-width: var(--maxWidthBlockdesktop, 1170px);
    padding-left: var(--paddingLeftBlockdesktop);
    padding-right: var(--paddingRightBlockdesktop);
    padding-top: var(--paddingTopBlockdesktop);
    padding-bottom: var(--paddingBottomBlockdesktop);
    margin-left: var(--marginLeftBlockdesktop);
    margin-right: var(--marginRightBlockdesktop);
    margin-top: var(--marginTopBlockdesktop);
    margin-bottom: var(--marginBottomBlockdesktop);
    position: relative;
    display: flex;
    max-height: fit-content;
    border: 0 solid #000;
    justify-content: var(--displayFlexRowdesktop)
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col {
    --paddingLeftBlockdesktop: 10px;
    --paddingRightBlockdesktop: 10px;
    --paddingTopBlockdesktop: 10px;
    --paddingBottomBlockdesktop: 10px;
    --marginLeftBlockdesktop: 0px;
    --marginRightBlockdesktop: 0px;
    --marginTopBlockdesktop: 0px;
    --marginBottomBlockdesktop: 0px;
    padding-left: var(--paddingLeftBlockdesktop);
    padding-right: var(--paddingRightBlockdesktop);
    padding-top: var(--paddingTopBlockdesktop);
    padding-bottom: var(--paddingBottomBlockdesktop);
    margin-left: var(--marginLeftBlockdesktop);
    margin-right: var(--marginRightBlockdesktop);
    margin-top: var(--marginTopBlockdesktop);
    margin-bottom: var(--marginBottomBlockdesktop)
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content .lpe-landing-page-object {
    --paddingLeftBlockdesktop: 0px;
    --paddingRightBlockdesktop: 0px;
    --paddingTopBlockdesktop: 0px;
    --paddingBottomBlockdesktop: 0px;
    --marginLeftBlockdesktop: 0px;
    --marginRightBlockdesktop: 0px;
    --marginTopBlockdesktop: 0px;
    --marginBottomBlockdesktop: 0px;
    padding-left: var(--paddingLeftBlockdesktop);
    padding-right: var(--paddingRightBlockdesktop);
    padding-top: var(--paddingTopBlockdesktop);
    padding-bottom: var(--paddingBottomBlockdesktop);
    margin-left: var(--marginLeftBlockdesktop);
    margin-right: var(--marginRightBlockdesktop);
    margin-top: var(--marginTopBlockdesktop);
    margin-bottom: var(--marginBottomBlockdesktop);
    width: var(--widthObjectdesktop)
}

.lpe-landing-page-iframe.lpe-container-block-item>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe.lpe-container-block-item>.lpe-box-background .lpe-media-background {
    position: absolute;
    --hoverTransitionBackgroundBlockItem: 0.5s;
    transition-duration: var(--hoverTransitionBackgroundBlockItem);
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.lpe-landing-page-iframe.lpe-container-block-item.isNormal:hover>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe.lpe-container-block-item>.lpe-box-background .lpe-background-color {
    --backgroundColordesktop: rgba(0, 0, 0, 0);
    background-color: var(--backgroundColordesktop)
}

.lpe-landing-page-iframe.lpe-container-block-item.isHover>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe.lpe-container-block-item:hover>.lpe-box-background .lpe-background-color {
    --hoverBgColordesktop: rgba(0, 0, 0, 0);
    background-color: var(--hoverBgColordesktop)
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col {
    float: left;
    position: relative;
    padding-left: var(--paddingLeftBlockdesktop, 10px);
    padding-right: var(--paddingRightBlockdesktop, 10px);
    padding-top: var(--paddingTopBlockdesktop, 10px);
    padding-bottom: var(--paddingBottomBlockdesktop, 10px);
    display: flex;
    border: 0 solid #000
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-1 {
    --widthColdesktop: 100%;
    width: var(--widthColdesktop);
    max-width: 100%
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-2 {
    --widthColdesktop: 50%;
    width: var(--widthColdesktop);
    max-width: 100%
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-3 {
    --widthColdesktop: 33.33%;
    width: var(--widthColdesktop);
    max-width: 100%
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-4 {
    --widthColdesktop: 25%;
    width: var(--widthColdesktop);
    max-width: 100%
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-5 {
    --widthColdesktop: 20%;
    width: var(--widthColdesktop);
    max-width: 100%
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-6 {
    --widthColdesktop: 16.66%;
    width: var(--widthColdesktop);
    max-width: 100%
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content {
    width: 100%
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content .lpe-landing-page-object {
    clear: both;
    position: relative
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content .lpe-landing-page-object {
    text-align: var(--textAlignObjectdesktop, unset)
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content .lpe-landing-page-object>img {
    width: 100%;
    height: auto
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content .lpe-landing-page-object .lpe-image-placeholder {
    width: 100%;
    height: 100%
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content p {
    min-height: 20px;
    margin: 0
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content pre {
    white-space: unset
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content::after {
    content: " ";
    display: block;
    height: 0;
    clear: both
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-padding.top {
    height: var(--heightTopdesktop, 15px);
    line-height: var(--lineHeightTopdesktop, 15px)
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-padding.bottom {
    height: var(--heightBottomdesktop, 15px);
    line-height: var(--lineHeightBottomdesktop, 15px)
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-padding:hover {
    background-color: #dceff79c
}

.lpe-landing-page-iframe.lpe-container-block-item .lpe-block-padding {
    min-height: 15px;
    cursor: ns-resize;
    text-align: center;
    font-size: 13px;
    color: #3dbfe8;
    font-weight: 700;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.lpe-landing-page-iframe.lpe-container-block-item.isNormal:hover>.lpe-box-background,
.lpe-landing-page-iframe.lpe-container-block-item>.lpe-box-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.lpe-landing-page-iframe .lpe-block-col.isHover>.lpe-box-background,
.lpe-landing-page-iframe .lpe-block-col:hover>.lpe-box-background,
.lpe-landing-page-iframe .lpe-block-content.isHover>.lpe-box-background,
.lpe-landing-page-iframe .lpe-block-content:hover>.lpe-box-background {
    transition-duration: var(--hoverTransition);
    border-style: var(--hoverBorderStyle);
    border-top-width: var(--hoverBorderTopWidth);
    border-right-width: var(--hoverBorderRightWidth);
    border-bottom-width: var(--hoverBorderBottomWidth);
    border-left-width: var(--hoverBorderLeftWidth);
    border-top-left-radius: var(--hoverBorderTopLeftRadius);
    border-top-right-radius: var(--hoverBorderTopRightRadius);
    border-bottom-left-radius: var(--hoverBorderBottomLeftRadius);
    border-bottom-right-radius: var(--hoverBorderBottomRightRadius);
    border-color: var(--hoverBorderColor)
}

.lpe-landing-page-iframe .lpe-block-content .lpe-box-background {
    --borderTopWidthdesktop: 0px;
    --borderRightWidthdesktop: 0px;
    --borderBottomWidthdesktop: 0px;
    --borderLeftWidthdesktop: 0px;
    --borderTopLeftRadiusdesktop: 0px;
    --borderTopRightRadiusdesktop: 0px;
    --borderBottomLeftRadiusdesktop: 0px;
    --borderBottomRightRadiusdesktop: 0px;
    --borderStyledesktop: solid;
    --borderColordesktop: #333333;
    border-top-width: var(--borderTopWidthdesktop);
    border-right-width: var(--borderRightWidthdesktop);
    border-bottom-width: var(--borderBottomWidthdesktop);
    border-left-width: var(--borderLeftWidthdesktop);
    border-style: var(--borderStyledesktop);
    border-color: var(--borderColordesktop);
    border-top-left-radius: var(--borderTopLeftRadiusdesktop);
    border-top-right-radius: var(--borderTopRightRadiusdesktop);
    border-bottom-left-radius: var(--borderBottomLeftRadiusdesktop);
    border-bottom-right-radius: var(--borderBottomRightRadiusdesktop)
}

.lpe-landing-page-iframe .lpe-block-content .lpe-landing-page-iframe .lpe-block-col .lpe-box-background {
    border-top-left-radius: var(--borderTopLeftRadiusdesktop, 0);
    border-top-right-radius: var(--borderTopRightRadiusdesktop, 0);
    border-bottom-left-radius: var(--borderBottomLeftRadiusdesktop, 0);
    border-bottom-right-radius: var(--borderBottomRightRadiusdesktop, 0)
}

.lpe-landing-page-iframe .lpe-block-col.isNormal:hover>.lpe-box-background,
.lpe-landing-page-iframe .lpe-block-col>.lpe-box-background,
.lpe-landing-page-iframe .lpe-block-content.isNormal:hover>.lpe-box-background,
.lpe-landing-page-iframe .lpe-block-content>.lpe-box-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.lpe-landing-page-iframe .lpe-block-col>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe .lpe-block-col>.lpe-box-background .lpe-media-background,
.lpe-landing-page-iframe .lpe-block-content>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe .lpe-block-content>.lpe-box-background .lpe-media-background {
    position: absolute;
    --hoverTransition: 0.5s;
    transition-duration: var(--hoverTransition);
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --hoverBgColordesktop: rgba(0, 0, 0, 0);
    --backgroundColordesktop: rgba(0, 0, 0, 0)
}

.lpe-landing-page-iframe .lpe-block-col.isNormal:hover>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe .lpe-block-col>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe .lpe-block-content.isNormal:hover>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe .lpe-block-content>.lpe-box-background .lpe-background-color {
    background-color: var(--backgroundColordesktop)
}

.lpe-landing-page-iframe .lpe-block-col.isHover>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe .lpe-block-col:hover>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe .lpe-block-content.isHover>.lpe-box-background .lpe-background-color,
.lpe-landing-page-iframe .lpe-block-content:hover>.lpe-box-background .lpe-background-color {
    background-color: var(--hoverBgColordesktop)
}

.lpe-landing-page-iframe .lpe-block-col,
.lpe-landing-page-iframe .lpe-block-content,
.lpe-landing-page-iframe .lpe-landing-page-object {
    z-index: var(--zIndexObjectdesktop)
}

@media (max-width:769px) {
    .lpe-landing-page-iframe .lpe-box-background {
        --borderTopWidthtablet: 0px;
        --borderRightWidthtablet: 0px;
        --borderBottomWidthtablet: 0px;
        --borderLeftWidthtablet: 0px;
        --borderTopLeftRadiustablet: 0px;
        --borderTopRightRadiustablet: 0px;
        --borderBottomLeftRadiustablet: 0px;
        --borderBottomRightRadiustablet: 0px;
        --borderStyletablet: solid;
        --borderColortablet: #333333;
        border-top-width: var(--borderTopWidthtablet);
        border-right-width: var(--borderRightWidthtablet);
        border-bottom-width: var(--borderBottomWidthtablet);
        border-left-width: var(--borderLeftWidthtablet);
        border-style: var(--borderStyletablet);
        border-color: var(--borderColortablet);
        border-top-left-radius: var(--borderTopLeftRadiustablet);
        border-top-right-radius: var(--borderTopRightRadiustablet);
        border-bottom-left-radius: var(--borderBottomLeftRadiustablet);
        border-bottom-right-radius: var(--borderBottomRightRadiustablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-1 {
        --widthColtablet: 100%;
        width: var(--widthColtablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content,
    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content-child {
        flex-wrap: wrap
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-2 {
        --widthColtablet: 50%;
        width: var(--widthColtablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-3 {
        --widthColtablet: 33.33%;
        width: var(--widthColtablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-4 {
        --widthColtablet: 25%;
        width: var(--widthColtablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-5 {
        --widthColtablet: 20%;
        width: var(--widthColtablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-6 {
        --widthColtablet: 25%;
        width: var(--widthColtablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content .lpe-landing-page-object {
        text-align: var(--textAlignObjecttablet, unset)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-padding.top {
        height: var(--heightToptablet, 15px);
        line-height: var(--lineHeightToptablet, 15px)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-padding.bottom {
        height: var(--heightBottomtablet, 15px);
        line-height: var(--lineHeightBottomtablet, 15px)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content,
    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content-child {
        --paddingLeftBlocktablet: 10px;
        --paddingRightBlocktablet: 10px;
        --paddingTopBlocktablet: 10px;
        --paddingBottomBlocktablet: 10px;
        --marginLeftBlocktablet: auto;
        --marginRightBlocktablet: auto;
        --marginTopBlocktablet: 0px;
        --marginBottomBlocktablet: 0px;
        --displayFlexRowtablet: center;
        max-width: var(--maxWidthBlocktablet, 1170px);
        padding-left: var(--paddingLeftBlocktablet, 10px);
        padding-right: var(--paddingRightBlocktablet, 10px);
        padding-top: var(--paddingTopBlocktablet, 10px);
        padding-bottom: var(--paddingBottomBlocktablet, 10px);
        margin-left: var(--marginLeftBlocktablet, auto);
        margin-right: var(--marginRightBlocktablet, auto);
        margin-top: var(--marginTopBlocktablet, 0);
        margin-bottom: var(--marginBottomBlocktablet, 0);
        justify-content: var(--displayFlexRowtablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col {
        --paddingLeftBlocktablet: 10px;
        --paddingRightBlocktablet: 10px;
        --paddingTopBlocktablet: 10px;
        --paddingBottomBlocktablet: 10px;
        --marginLeftBlocktablet: 0px;
        --marginRightBlocktablet: 0px;
        --marginTopBlocktablet: 0px;
        --marginBottomBlocktablet: 0px;
        padding-left: var(--paddingLeftBlocktablet, 10px);
        padding-right: var(--paddingRightBlocktablet, 10px);
        padding-top: var(--paddingTopBlocktablet, 10px);
        padding-bottom: var(--paddingBottomBlocktablet, 10px);
        margin-left: var(--marginLeftBlocktablet, 0);
        margin-right: var(--marginRightBlocktablet, 0);
        margin-top: var(--marginTopBlocktablet, 0);
        margin-bottom: var(--marginBottomBlocktablet, 0)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content .lpe-landing-page-object {
        --paddingLeftBlocktablet: 0px;
        --paddingRightBlocktablet: 0px;
        --paddingTopBlocktablet: 0px;
        --paddingBottomBlocktablet: 0px;
        --marginLeftBlocktablet: 0px;
        --marginRightBlocktablet: 0px;
        --marginTopBlocktablet: 0px;
        --marginBottomBlocktablet: 0px;
        padding-left: var(--paddingLeftBlocktablet);
        padding-right: var(--paddingRightBlocktablet);
        padding-top: var(--paddingTopBlocktablet);
        padding-bottom: var(--paddingBottomBlocktablet);
        margin-left: var(--marginLeftBlocktablet);
        margin-right: var(--marginRightBlocktablet);
        margin-top: var(--marginTopBlocktablet);
        margin-bottom: var(--marginBottomBlocktablet);
        width: var(--widthObjecttablet)
    }

    .lpe-landing-page-iframe .lpe-block-content .lpe-box-background {
        --borderTopWidthtablet: 0px;
        --borderRightWidthtablet: 0px;
        --borderBottomWidthtablet: 0px;
        --borderLeftWidthtablet: 0px;
        --borderTopLeftRadiustablet: 0px;
        --borderTopRightRadiustablet: 0px;
        --borderBottomLeftRadiustablet: 0px;
        --borderBottomRightRadiustablet: 0px;
        --borderStyletablet: solid;
        --borderColortablet: #333333;
        border-top-width: var(--borderTopWidthtablet);
        border-right-width: var(--borderRightWidthtablet);
        border-bottom-width: var(--borderBottomWidthtablet);
        border-left-width: var(--borderLeftWidthtablet);
        border-style: var(--borderStyletablet);
        border-color: var(--borderColortablet);
        border-top-left-radius: var(--borderTopLeftRadiustablet);
        border-top-right-radius: var(--borderTopRightRadiustablet);
        border-bottom-left-radius: var(--borderBottomLeftRadiustablet);
        border-bottom-right-radius: var(--borderBottomRightRadiustablet)
    }

    .lpe-landing-page-iframe .lpe-block-content .lpe-block-col .lpe-box-background {
        border-top-left-radius: var(--borderTopLeftRadiustablet, 0);
        border-top-right-radius: var(--borderTopRightRadiustablet, 0);
        border-bottom-left-radius: var(--borderBottomLeftRadiustablet, 0);
        border-bottom-right-radius: var(--borderBottomRightRadiustablet, 0)
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col {
        --paddingLeftBlocktablet: 10px;
        --paddingRightBlocktablet: 10px;
        --paddingTopBlocktablet: 10px;
        --paddingBottomBlocktablet: 10px;
        padding-left: var(--paddingLeftBlocktablet);
        padding-right: var(--paddingRightBlocktablet);
        padding-top: var(--paddingTopBlocktablet);
        padding-bottom: var(--paddingBottomBlocktablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item.isNormal:hover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe.lpe-container-block-item>.lpe-box-background .lpe-background-color {
        --backgroundColortablet: rgba(0, 0, 0, 0);
        background-color: var(--backgroundColortablet)
    }

    .lpe-landing-page-iframe.lpe-container-block-item.isHover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe.lpe-container-block-item:hover>.lpe-box-background .lpe-background-color {
        --hoverBgColortablet: rgba(0, 0, 0, 0);
        background-color: var(--hoverBgColortablet)
    }

    .lpe-landing-page-iframe .lpe-block-col>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-col>.lpe-box-background .lpe-media-background,
    .lpe-landing-page-iframe .lpe-block-content>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content>.lpe-box-background .lpe-media-background {
        --hoverBgColortablet: rgba(0, 0, 0, 0);
        --backgroundColortablet: rgba(0, 0, 0, 0)
    }

    .lpe-landing-page-iframe .lpe-block-col.isNormal:hover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-col>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content.isNormal:hover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content>.lpe-box-background .lpe-background-color {
        background-color: var(--backgroundColortablet)
    }

    .lpe-landing-page-iframe .lpe-block-col.isHover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-col:hover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content.isHover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content:hover>.lpe-box-background .lpe-background-color {
        background-color: var(--hoverBgColortablet)
    }

    .lpe-landing-page-iframe .lpe-block-col,
    .lpe-landing-page-iframe .lpe-block-content,
    .lpe-landing-page-iframe .lpe-landing-page-object {
        z-index: var(--zIndexObjecttablet)
    }
}

@media (max-width:576px) {
    .lpe-landing-page-iframe .lpe-box-background {
        --borderTopWidthmobile: 0px;
        --borderRightWidthmobile: 0px;
        --borderBottomWidthmobile: 0px;
        --borderLeftWidthmobile: 0px;
        --borderTopLeftRadiusmobile: 0px;
        --borderTopRightRadiusmobile: 0px;
        --borderBottomLeftRadiusmobile: 0px;
        --borderBottomRightRadiusmobile: 0px;
        --borderStylemobile: solid;
        --borderColormobile: #333333;
        border-top-width: var(--borderTopWidthmobile) !important;
        border-right-width: var(--borderRightWidthmobile) !important;
        border-bottom-width: var(--borderBottomWidthmobile) !important;
        border-left-width: var(--borderLeftWidthmobile) !important;
        border-style: var(--borderStylemobile) !important;
        border-color: var(--borderColormobile) !important;
        border-top-left-radius: var(--borderTopLeftRadiusmobile) !important;
        border-top-right-radius: var(--borderTopRightRadiusmobile) !important;
        border-bottom-left-radius: var(--borderBottomLeftRadiusmobile) !important;
        border-bottom-right-radius: var(--borderBottomRightRadiusmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-1 {
        --widthColmobile: 100%;
        width: var(--widthColmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-2 {
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-2 {
        --widthColmobile: 100%;
        width: var(--widthColmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-3 {
        --widthColmobile: 100%;
        width: var(--widthColmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-4 {
        --widthColmobile: 100%;
        width: var(--widthColmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-5 {
        --widthColmobile: 100%;
        width: var(--widthColmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col.col-6 {
        --widthColmobile: 100%;
        width: var(--widthColmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content .lpe-landing-page-object {
        text-align: var(--textAlignObjectmobile, unset) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-padding.top {
        height: var(--heightTopmobile, 15px) !important;
        line-height: var(--lineHeightTopmobile, 15px) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-padding.bottom {
        height: var(--heightBottommobile, 15px) !important;
        line-height: var(--lineHeightBottommobile, 15px) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content,
    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content-child {
        --paddingLeftBlockmobile: 10px;
        --paddingRightBlockmobile: 10px;
        --paddingTopBlockmobile: 10px;
        --paddingBottomBlockmobile: 10px;
        --marginLeftBlockmobile: auto;
        --marginRightBlockmobile: auto;
        --marginTopBlockmobile: 0px;
        --marginBottomBlockmobile: 0px;
        --displayFlexRowmobile: center;
        max-width: var(--maxWidthBlockmobile, 1170px) !important;
        padding-left: var(--paddingLeftBlockmobile) !important;
        padding-right: var(--paddingRightBlockmobile) !important;
        padding-top: var(--paddingTopBlockmobile) !important;
        padding-bottom: var(--paddingBottomBlockmobile) !important;
        margin-left: var(--marginLeftBlockmobile) !important;
        margin-right: var(--marginRightBlockmobile) !important;
        margin-top: var(--marginTopBlockmobile) !important;
        margin-bottom: var(--marginBottomBlockmobile) !important;
        justify-content: var(--displayFlexRowmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col {
        --paddingLeftBlockmobile: 10px;
        --paddingRightBlockmobile: 10px;
        --paddingTopBlockmobile: 10px;
        --paddingBottomBlockmobile: 10px;
        --marginLeftBlockmobile: 0px;
        --marginRightBlockmobile: 0px;
        --marginTopBlockmobile: 0px;
        --marginBottomBlockmobile: 0px;
        padding-left: var(--paddingLeftBlockmobile) !important;
        padding-right: var(--paddingRightBlockmobile) !important;
        padding-top: var(--paddingTopBlockmobile) !important;
        padding-bottom: var(--paddingBottomBlockmobile) !important;
        margin-left: var(--marginLeftBlockmobile) !important;
        margin-right: var(--marginRightBlockmobile) !important;
        margin-top: var(--marginTopBlockmobile) !important;
        margin-bottom: var(--marginBottomBlockmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col .lpe-col-content .lpe-landing-page-object {
        --paddingLeftBlockmobile: 0px;
        --paddingRightBlockmobile: 0px;
        --paddingTopBlockmobile: 0px;
        --paddingBottomBlockmobile: 0px;
        --marginLeftBlockmobile: 0px;
        --marginRightBlockmobile: 0px;
        --marginTopBlockmobile: 0px;
        --marginBottomBlockmobile: 0px;
        padding-left: var(--paddingLeftBlockmobile) !important;
        padding-right: var(--paddingRightBlockmobile) !important;
        padding-top: var(--paddingTopBlockmobile, 0) !important;
        padding-bottom: var(--paddingBottomBlockmobile) !important;
        margin-left: var(--marginLeftBlockmobile) !important;
        margin-right: var(--marginRightBlockmobile) !important;
        margin-top: var(--marginTopBlockmobile) !important;
        margin-bottom: var(--marginBottomBlockmobile) !important;
        width: var(--widthObjectmobile) !important
    }

    .lpe-landing-page-iframe .lpe-block-content .lpe-box-background {
        --borderTopWidthmobile: 0px;
        --borderRightWidthmobile: 0px;
        --borderBottomWidthmobile: 0px;
        --borderLeftWidthmobile: 0px;
        --borderTopLeftRadiusmobile: 0px;
        --borderTopRightRadiusmobile: 0px;
        --borderBottomLeftRadiusmobile: 0px;
        --borderBottomRightRadiusmobile: 0px;
        --borderStylemobile: solid;
        --borderColormobile: #333333;
        border-top-width: var(--borderTopWidthmobile) !important;
        border-right-width: var(--borderRightWidthmobile) !important;
        border-bottom-width: var(--borderBottomWidthmobile) !important;
        border-left-width: var(--borderLeftWidthmobile) !important;
        border-style: var(--borderStylemobile) !important;
        border-color: var(--borderColormobile) !important;
        border-top-left-radius: var(--borderTopLeftRadiusmobile) !important;
        border-top-right-radius: var(--borderTopRightRadiusmobile) !important;
        border-bottom-left-radius: var(--borderBottomLeftRadiusmobile) !important;
        border-bottom-right-radius: var(--borderBottomRightRadiusmobile) !important
    }

    .lpe-landing-page-iframe .lpe-block-content .lpe-block-col .lpe-box-background {
        border-top-left-radius: var(--borderTopLeftRadiusmobile, 0) !important;
        border-top-right-radius: var(--borderTopRightRadiusmobile, 0) !important;
        border-bottom-left-radius: var(--borderBottomLeftRadiusmobile, 0) !important;
        border-bottom-right-radius: var(--borderBottomRightRadiusmobile, 0) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item .lpe-block-content .lpe-block-col {
        --paddingLeftBlockmobile: 10px;
        --paddingRightBlockmobile: 10px;
        --paddingTopBlockmobile: 10px;
        --paddingBottomBlockmobile: 10px;
        padding-left: var(--paddingLeftBlockmobile) !important;
        padding-right: var(--paddingRightBlockmobile) !important;
        padding-top: var(--paddingTopBlockmobile) !important;
        padding-bottom: var(--paddingBottomBlockmobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item.isNormal:hover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe.lpe-container-block-item>.lpe-box-background .lpe-background-color {
        --backgroundColormobile: rgba(0, 0, 0, 0);
        background-color: var(--backgroundColormobile) !important
    }

    .lpe-landing-page-iframe.lpe-container-block-item.isHover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe.lpe-container-block-item:hover>.lpe-box-background .lpe-background-color {
        --hoverBgColormobile: rgba(0, 0, 0, 0);
        background-color: var(--hoverBgColormobile) !important
    }

    .lpe-landing-page-iframe .lpe-block-col>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-col>.lpe-box-background .lpe-media-background,
    .lpe-landing-page-iframe .lpe-block-content>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content>.lpe-box-background .lpe-media-background {
        --hoverBgColormobile: rgba(0, 0, 0, 0);
        --backgroundColormobile: rgba(0, 0, 0, 0)
    }

    .lpe-landing-page-iframe .lpe-block-col.isNormal:hover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-col>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content.isNormal:hover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content>.lpe-box-background .lpe-background-color {
        background-color: var(--backgroundColormobile) !important
    }

    .lpe-landing-page-iframe .lpe-block-col.isHover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-col:hover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content.isHover>.lpe-box-background .lpe-background-color,
    .lpe-landing-page-iframe .lpe-block-content:hover>.lpe-box-background .lpe-background-color {
        background-color: var(--hoverBgColormobile) !important
    }

    .lpe-landing-page-iframe .lpe-block-col,
    .lpe-landing-page-iframe .lpe-block-content,
    .lpe-landing-page-iframe .lpe-landing-page-object {
        z-index: var(--zIndexObjectmobile) !important
    }
}

.lpe-landing-page-iframe .lpe-overflowHidden {
    overflow: hidden !important
}